parameters:
    level: 8
    paths:
        - src
        - tests
        - bin
    excludePaths:
        - tests/fixtures/*
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
    stubFiles:
        - stubs/acf-overrides.stub
